.jumbotron{
    background-color:lightskyblue;
    color: black;
    margin-top: 30px;
}

footer{
    padding: 10px 10px 0 10px;
    background-color:lightslategrey;
    margin-bottom: 0px;
    margin-top: 10px;
}

.card-mine{
    flex: 1 155px;
    padding:2px 2px 2px 2px;
    margin-top: 10px;
}

.btn-reserva{
    width: 100%;
}

.footer-address-icon {
    padding-right: 10px;
}